<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<title>Rango</title>
	</head>
	
	<body>
		{% if user.is_authenticated %}
		<h3>Rango says...hello {{ user.username }}</h3>
		{% else %}
		<h3>Rango says...hello world!</h3>
		{% endif %}
		
		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		
		{% if pages %}
			<ul>
				{% for page in pages %}
				<li>{{ page.title }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>Couldn't find any page. Try again.</strong>
		{% endif %}
		
		<a href="/rango/about/">About</a><br />
		<img src="{% static "images/procastination.jpg" %}" alt="We are one" style="width:200px;height:200px"/><br />
		<a href="/rango/add_category/">Add a new Category</a><br />
		
		{% if user.is_authenticated %}
		<a href="/rango/authenticated/">Restricted Page</a>
		<a href="/rango/logout/">Logout</a>
		{% else %}
		<a href="/rango/register/">Register Here</a>
		<a href="/rango/login/">Login</a>
		{% endif %}
	</body>
</html>
