{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}

		{% if user.is_authenticated %}
		<h3>Rango says...hello {{ user.username }}</h3>
		{% else %}
		<h3>Rango says...hello world!</h3>
		{% endif %}
		
		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		
		{% if pages %}
			<ul>
				{% for page in pages %}
				<li>{{ page.title }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>Couldn't find any page. Try again.</strong>
		{% endif %}
		
		
		<img src="{% static "images/procastination.jpg" %}" alt="We are one" style="width:200px;height:200px"/><br />
		<a href="/rango/add_category/">Add a new Category</a><br />
		
{% endblock %}
